<%- include('./adminpanelparts/header'); -%>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


        <%- include('./adminpanelparts/info-box'); -%>
        <%- include('./adminpanelparts/monthly-recap-report'); -%>
        <%- include('./adminpanelparts/direct-chat'); -%>
        <%- include('./adminpanelparts/last-members'); -%>
        <%- include('./adminpanelparts/latest-order'); -%>
        <%- include('./adminpanelparts/tabs-info'); -%>
        <%- include('./adminpanelparts/browser-usage'); -%>
        <%- include('./adminpanelparts/recent-product'); -%>
            
    
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <%- include('./adminpanelparts/footer'); -%>
  <!-- PAGE SCRIPTS -->
<script src="../dist/js/pages/dashboard2.js"></script>